<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.raywenderlich.android.bubblecodecoach">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.raywenderlich.android.bubblecodecoach.ui.QuoteBubbleActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:label="Inspirational Quote"
            android:resizeableActivity="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Main Activity -->
        <activity
            android:name="com.raywenderlich.android.bubblecodecoach.ui.MainActivity"
            android:logo="@drawable/code_coach"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>